/* =============
    Base
============= */

ul{
padding: 0;
margin: 0;
li{
list-style-type: none;
}
}

content-space-top{
    margin-top: 16px;

    @include md{
        margin-top:24px;
    }
    @include lg{
        margin-top:30px;
    }
}


.show-xlarge{
display: none;
@include xxl{
    display:block;
}

}

.large-images{
    width: 100%;
}

