/* =============
    Base
============= */

ul{
padding: 0;
margin: 0;
li{
list-style-type: none;
}
}

.show-xlarge{
display: none;
@include xl{
    display:block;
}

}

.large-images{
    width: 100%;
}

