/* =============
    Activities
============= */

#activities{

    h2{
        font-weight: 700px;
        font-size: rem-calc(27px);
    }
p{
    font-weight: 300px;
    font-size: rem-calc(16px); 
}
h1{
    font-weight: 400px;
    font-size: rem-calc(20px);

}
    
    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". activities .";
        h1{
            font-weight: 400px;
            font-size: rem-calc(28px);
        
        }
    }

    @include lg{
h1{
    font-weight: 300px;
    font-size: rem-calc(37px);

}


}
    @include xxl{
        grid-template-columns: auto 1200px auto;
    }

>div{
    @include md{
grid-area: activities;
background-color: var(--snow);

    }
ul{
    padding: 0px 0px 16px 0px;
  


    @include md{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "g1 g1 g2 g2"
        "g3 g3 g4 g4"
        ". g5 g5 .";
        gap: 16px;
    }
        @include lg{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: 
            "g1 g1 g2 g2 g3 g3"
            ". g4 g4 g5 g5 .";
    }
    li{

    img{

        width: 100%;
        font-size: 0;
        display: block;

    }
    section{
display: grid;
grid-template-columns: 16px auto 16px;
grid-template-areas: ". activities .";
padding: 16px 0;
box-shadow: 0px 1px 1px rgba(42, 48, 54, 8.3);
>div{
    grid-area: activities;
}



    }
    }
    #g1{
        @include md{
            grid-area: g1;
        }
    }
    #g2{
        @include md{
        grid-area: g2;
        }
    }
    #g3{
        @include md{
        grid-area: g3;
        }
    }
    #g4{
        @include md{
        grid-area: g4;
        }
    }
    #g5{
        @include md{
        grid-area: g5;
        }
    }
        
}



        li{
            list-style: none;
            img{
                    width: 100%;
            }




                
            }
        }
    }  
