/* =============
    Activities
============= */

#activities{

    h2{
        font-weight: 700px;
        font-size: rem-calc(27px);
    }
p{
    font-weight: 300px;
    font-size: rem-calc(16px); 
}
h1{
    font-weight: 400px;
    font-size: rem-calc(20px);

}
    
    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". activities .";
        h1{
            font-weight: 400px;
            font-size: rem-calc(28px);
        
        }
    }

    @include lg{
h1{
    font-weight: 300px;
    font-size: rem-calc(37px);

}


}
    @include xxl{
        grid-template-columns: auto 1200px auto;
    }

>div{
    @include md{
grid-area: activities;
background-color: var(--snow);

    }
ul{
    padding: 0px 0px 16px 0px;
  


    @include md{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "n1 n1 n2 n2"
        "n3 n3 n4 n4"
        ". n5 n5 .";
        gap: 16px;
    }
        @include lg{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: 
            "n1 n1 n2 n2 n3 n3"
            ". n4 n4 n5 n5 .";
    }
    li{
        grid-template-rows: 40vh auto;

    img{

        width: 100%;
        font-size: 0;
        display: block;

    }
    section{
display: grid;
grid-template-columns: 16px auto 16px;
grid-template-areas: ". activities .";
padding: 16px 0;
box-shadow: 0px 1px 1px rgba(42, 48, 54, 8.3);
>div{
    grid-area: activities;
}


    }
    }
    }
    #n1{
        .activities-img {
            background-image: url("../img/activities/activities-1.jpg");
        }
        @include md{
            grid-area: n1;
        }
    }
    
    #n2{
        .activities-img {
            background-image: url("../img/activities/activities-2.jpg");
        }
            @include md{
        grid-area: n2;
        }
    }
    #n3{
        .activities-img {
            background-image: url("../img/activities/activities-3.jpg");
        }
            @include md{
        grid-area: n3;
        }
    }
    #n4{
        .activities-img {
            background-image: url("../img/activities/activities-4.jpg");
        }
            @include md{
        grid-area: n4;
        }
    }
    #n5{
        .activities-img {
            background-image: url("../img/activities/activities-5.jpg");
        }
            @include md{
        grid-area: n5;
        }
    }
        
}



        li{
            list-style: none;
            img{
                    width: 100%;
            }




                
            }
        }
    