#footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color: var(--green);
    color: var(--snow);
    padding: 16px;


      @include xxl{
            grid-template-columns: auto 1200px auto;
            }
>div{
    grid-area: footer;

   
    ul{
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "f1 f2"
            "f1 f3";
            }

            @include lg{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: 
                "f1 f2 f3";
                }
                
                button{
                    background-color: var(--orange);
                    color: white;
                    padding: 8px 16px;
                    display: inline-block;
                }


                
            #f1{
                a{      color: var(--snow);
                }
                @include md{
                    grid-area: f1;

                }
                    section{
                        display: flex;
                        i{
                            font-size:rem-calc (20);
                            margin-right: 16px;

                        }

                                        
                }
            }
            #f2{
                @include md{
                    grid-area: f2;
                }
              
            }
            #f3{
                grid-area: f3;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: 
                "s1 s2 s3 s4";
            }

            s1{
                grid-area: s1;
            }
            s2{
                grid-area: s2;
            }
            s3{
                grid-area: s3;
            }
            s4{
                grid-area: s4;
            }
}
}
}
