/* =============
    Heroes
============= */
#hero{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". hero .";

    
        >div{
            grid-area: hero;
ul{

    @include md{
        display: grid;
        grid-template-columns: 40% auto;
        grid-template-areas: 
        "h1 h2";
}
       
#h1{
    grid-area: h1;
}
#h2{
    grid-area: h2;
}   
        }
    }
}



/*-------hero-sub------*/
#hero-sub{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". hero-sub .";
    >div{
            grid-area: hero-sub;

            ul{

                @include md{
                    display: grid;
                    grid-template-columns: 50% auto;
                    grid-template-areas: 
                    "h3 h4";
    
    
            }
            #h3{
                grid-area: h3;
            }
            #h4{
                grid-area: h4;
        }

      
        }   
    }
}
