/* =============
    Heroes
============= */
#hero{
    section{

        @include sm{
            h1{
                font-weight: 700px;
                font-size: rem-calc(18px);
                line-height: 20px;
                margin-bottom: 4px;
                
                        }
                        h3{
                            font-weight: 700px;
                            font-size: rem-calc(14px);
                            line-height: 20px;
                
                            
                                    }
                                    p{
                                        font-weight: 400px;
                                        font-size: rem-calc(16px);
                                        line-height: 20px;
                                        margin-bottom: 4px;
                                    
                                    }

        }
        @include md{
            h1{
                font-weight: 700px;
                font-size: rem-calc(18px);
                line-height: 20px;
                margin-bottom: 4px;
                
                        }
                        h3{
                            font-weight: 700px;
                            font-size: rem-calc(14px);
                            line-height: 20px;
                
                            
                                    }
                                    p{
                                        font-weight: 400px;
                                        font-size: rem-calc(16px);
                                        line-height: 20px;
                                        margin-bottom: 4px;
                                        
                
                                    }

        }
        @include lg{
            h1{
                font-weight: 700px;
                font-size: rem-calc(25px);
                line-height: 20px;
                margin-bottom: 4px;
                
                        }
                        h3{
                            font-weight: 700px;
                            font-size: rem-calc(16px);
                            line-height: 20px;
                
                            
                                    }
                                    p{
                                        font-weight: 400px;
                                        font-size: rem-calc(16px);
                                        line-height: 20px;
                                        margin-bottom: 4px;
                                        
                
                                    }

        }
        @include xl{
            h1{
                font-weight: 700px;
                font-size: 25px;
                line-height: 20px;
                margin-bottom: 4px;
                
                        }
                        h3{
                            font-weight: 700px;
                            font-size: 16px;
                            line-height: 20px;
                
                            
                                    }
                                    p{
                                        font-weight: 500px;
                                        font-size: 16px;
                                        line-height: 20px;
                                        margin-bottom: 4px;
                                        
                
                                    }

        }
   
        a{

            color: var(--snow);
        }
        @include md{
            display: grid;
            grid-template-columns: 40% auto;

        }
        @include lg{
            grid-template-columns: 50% auto;
        
        }

        aside{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-aside .";
            color: var(grey);
            padding: 16px 0;
            box-shadow: 0px 1px 1px rgba(42, 48, 0.296793);
    


            >div{
                grid-area: hero-aside;
                display: flex;
                align-items: center;
         
            }
        }

#hero-left{
    background:var(--tan);
    @include xxl{
        grid-template-columns: 20% auto 16px; 
}
}



#hero-right{
    background:var(--orange);
    @include xxl{
        grid-template-columns: 16px auto 20%; 
    }
        
        }
    }
}
       

/*-------hero-sub------*/
#hero-sub{
    color:snow;
    h1{
        font-weight: 400px;
        font-size: rem-calc(22px);
        line-height: 48px;
        margin-bottom: 16px;
        
                }
    @include sm{
        h1{
            font-weight: 400px;
            font-size: rem-calc(22px);
            line-height: 48px;
            margin-bottom: 16px;
            
                    }
            
   

    }
        @include md{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-sub .";
            h1{
                font-weight: 400px;
                font-size: rem-calc(29px);
                line-height: 48px;
                margin-bottom: 16px;
                
                        }
                
       

        }
        @include lg{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-sub .";
            h1{
                font-weight: 300px;
                font-size: rem-calc(30px);
                line-height: 48px;
                margin-bottom: 16px;
                
                        }
                
       

        }
        @include xxl{
            grid-template-columns: auto 1200px auto;
            h1{
                font-weight: 400px;
                font-size: rem-calc(31px);
                line-height: 48px;
                margin-bottom: 16px;
                
                        }
          
        }
        >div{
           
            @include md{
                grid-area: hero-sub;
                display: grid;
                grid-template-columns: 50% auto;
  
        
            }
        .hero-sub-content{
    
            >div{
                grid-area: hero-sub;
                display: grid;
                grid-template-columns: 50% auto;
  

              
        
            }
        #hero-sub-left{
            background-color: var(--green);
    

        }
        #hero-sub-right{
            background-color:var(--green);
        }

        
    }
  
    }   
}











