/* =============
    Header
============= */
header{
    #logo-nav{
        display: grid; 
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". logo-nav .";
        background-color: var(--green);
        color: var(--black);
        padding: 16px 0 24px;

        >div{
        grid-area: logo-nav;
            img{
            
            }
        }   
    }
#search{
    display: grid; 
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";


    @include md{
        padding:24px 0;
    }
    @include xxl{
        grid-template-columns: auto 1200px auto;
        padding: 30px 0;
    }
    >div{
    grid-area: logo-nav;
        form{
            display: flex;
            input{
                width:100%;
                border: 1px solid black;
                border:none;
                border-bottom: 1px solid var(--black);
                border-radius: 0;
                background-color: transparent;
                margin-right:8px;
                font-weight: 400px;
                font-size: rem-calc(16px);

                @include lg{
                    font-size: rem-calc(30px);
                    font-weight: 300px;
                }
                @include xl{
                    font-size: rem-calc(35px);
                    font-weight: 300px;
                }
                @include xxl{
                    font-size: rem-calc(35px);
                    font-weight: 300px;
                }

             }
                button{
                    background-color: var(--orange);
                    border: 0;
                    border-radius: 5px;
                    padding: 10px 15px;
                    img{

                    }

                }
            }
        }
    }
}