/* =============
    Header
============= */
header{
    #logo-nav{
        display: grid; 
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". logo-nav .";
        background-color: var(--green);
        >div{
        grid-area: logo-nav;
            img{
            
            }
        }   
    }
#search{
    display: grid; 
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";
    >div{
    grid-area: logo-nav;
        form{
            input{

             }
                button{
                    background-color: var(--orange);
                    color: white;
                    img{

                    }

                }
            }
        }
    }
}