/* =============
    Navigation
============= */
html{
scroll-behavior: smooth;

}
.show-menu{
    display: block !important;
}

nav{

ul{










li{
    text-align: right;
a:link, a:visited{
    display: inline-block;
    color: black;
    padding: 16px 0 16px;
    font-weight: 500;



display: inline-block






}
}
}


}